@import "tailwindcss";
@plugin "flyonui";
@plugin "@iconify/tailwind4";
@import "./modules/layout.css";
@import "./modules/typography.css";
@import "flyonui/variants.css";
@source "../node_modules/flyonui/flyonui.js";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-display-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: Georgia, ui-serif, system-ui, serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-display-serif: 'Bodoni Moda', ui-serif, system-ui, serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-logo: 'Major Mono Display', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@plugin "flyonui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.002 17.2);
    --color-base-200: oklch(95% 0.002 17.2);
    --color-base-300: oklch(93% 0.002 17.2);
    --color-base-content: oklch(15.43% 0 0);
    --color-primary: oklch(67.3% 0.186 34.55);
    --color-primary-content: oklch(13% 0.186 34.55);
    --color-secondary: oklch(42.17% 0.022 127.58);
    --color-secondary-content: oklch(94% 0.022 127.58);
    --color-accent: oklch(93.54% 0.219 122);
    --color-accent-content: oklch(13% 0.219 122);
    --color-neutral: oklch(15.43% 0 0);
    --color-neutral-content: oklch(98% 0.002 17.2);
    --color-info: oklch(65% 0.14 255);
    --color-info-content: oklch(98% 0.02 255);
    --color-success: oklch(68% 0.19 155);
    --color-success-content: oklch(98% 0.02 155);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(15% 0.066 53.813);
    --color-error: oklch(63% 0.22 8);
    --color-error-content: oklch(98% 0.02 8);
    --radius-selector: 0rem;
    --radius-field: 0rem;
    --radius-box: 0rem;
    --size-selector: 0.3125rem;
    --size-field: 0.3125rem;
    --border: 2px;
    --depth: 1;
    --noise: 0;
}

@plugin "flyonui/theme" {
    name: "dark";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(25% 0 0);
    --color-base-200: oklch(20% 0 0);
    --color-base-300: oklch(15.43% 0 0);
    --color-base-content: oklch(98% 0.002 17.2);
    --color-primary: oklch(67.3% 0.186 34.55);
    --color-primary-content: oklch(13% 0.186 34.55);
    --color-secondary: oklch(42.17% 0.022 127.58);
    --color-secondary-content: oklch(94% 0.022 127.58);
    --color-accent: oklch(93.54% 0.219 122);
    --color-accent-content: oklch(13% 0.219 122);
    --color-neutral: oklch(98% 0.002 17.2);
    --color-neutral-content: oklch(15.43% 0 0);
    --color-info: oklch(65% 0.14 255);
    --color-info-content: oklch(98% 0.02 255);
    --color-success: oklch(68% 0.19 155);
    --color-success-content: oklch(98% 0.02 155);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(15% 0.066 53.813);
    --color-error: oklch(63% 0.22 8);
    --color-error-content: oklch(98% 0.02 8);
    --radius-selector: 0rem;
    --radius-field: 0rem;
    --radius-box: 0rem;
    --size-selector: 0.3125rem;
    --size-field: 0.3125rem;
    --border: 2px;
    --depth: 1;
    --noise: 0;
}
